<ion-header>
  <ion-toolbar>
    <ion-title>Validar Documento</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="stacked">Archivo a Validar</ion-label>
    <ion-input  type="file" (change)="fileChanged($event)" placeholder="Your name"></ion-input>
  </ion-item>


  <ion-card *ngIf="fileHash" color="dark">
    <ion-card-header>
      <ion-card-subtitle>Concidendia</ion-card-subtitle>
    </ion-card-header>
    <ion-item>
      <ion-label>Hash BlockChain: {{ toCompareHash }}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Hash Archivo: {{ fileHash  }}</ion-label>
    </ion-item>

    <ion-item>
      <ion-button slot="end" *ngIf="toCompareHash === fileHash" color="success">CONCIDEN</ion-button>
      <ion-button slot="end" *ngIf="toCompareHash !== fileHash" color="danger">NO CONCIDEN</ion-button>
    </ion-item>
  </ion-card>

</ion-content>
