<ion-header>
  <ion-toolbar>
    <ion-title>Validar Documento</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="stacked">Archivo a Validar</ion-label>
    <ion-input  type="file" (change)="fileChanged($event)" placeholder="Your name"></ion-input>
  </ion-item>

  <ion-card  color="dark">
    <ion-card-header>
      <ion-card-subtitle>Documento Registrado en Blockchain</ion-card-subtitle>
    </ion-card-header>
    
    <ion-list id="inbox-list" >
      <ion-list-header lines="none">
        <ion-label color="primary" >Fecha: {{ timestamp  }}</ion-label>
      </ion-list-header>
      <ion-list-header lines="none">
        <ion-label color="primary">Identificador: {{ documentId }}</ion-label>
      </ion-list-header>
      <ion-item lines="inset">
        <ion-label color="primary">
          <ion-text>Hash : {{ toCompareHash }}</ion-text>
        </ion-label>
        </ion-item>
      
    </ion-list>

  </ion-card>

  <ion-card *ngIf="fileHash" color="dark">
    <ion-card-header>
      <ion-card-subtitle>Archivo Seleccionado</ion-card-subtitle>
    </ion-card-header>
 
    <ion-item>
      <ion-label color="primary">
        <ion-text>Hash Archivo: {{ fileHash  }}</ion-text>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-button slot="end" *ngIf="toCompareHash === fileHash" color="success">COINCIDEN</ion-button>
      <ion-button slot="end" *ngIf="toCompareHash !== fileHash" color="danger">NO CONCIDEN</ion-button>
    </ion-item>
  </ion-card>

</ion-content>
