<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card *ngIf="!wallet">
    <ion-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="sendLogin(loginForm.value)">
        <ion-item *ngIf="!encrypted">
          <ion-label position="floating">Seeds</ion-label>
          <ion-textarea formControlName="seeds" rows="4" placeholder="Seeds"></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input formControlName="password" type="password" placeholder="Password"></ion-input>
        </ion-item>
        <ion-button expand="block" type="submit" class="ion-margin-top">Login</ion-button>
        <ion-button expand="block" fill="outline" *ngIf="!encrypted" type="button" (click)="loginWithMetamask()"><ion-icon [src]="metamaskIconSvg" class="margin-left"></ion-icon>  Login with Metamask</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
