<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button [routerLink]="['/log-out']">
        <ion-icon slot="icon-only" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Filtro</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form [formGroup]="listDocumentForm" (ngSubmit)="getDocument(listDocumentForm.value)">
        <ion-item>

          <ion-select formControlName="establishmentId" placeholder="Seleccione un Establecimiento">
            <ng-container *ngFor="let item of establishments ">
              <ion-select-option  value="{{item}}">{{item}}</ion-select-option>
          </ng-container>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Fecha</ion-label>
          <ion-input formControlName="date" type="date" placeholder="Fecha"></ion-input>
        </ion-item>

        <ion-button expand="block" [disabled]="!listDocumentForm.valid" type="submit" class="ion-margin-top">Buscar</ion-button>
      </form>

    </ion-card-content>
  </ion-card>


  <ion-card *ngIf="establishmentRecords">
    <ion-card-header>
      <ion-card-title>Listado de Documentos</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-list id="inbox-list" *ngFor="let item of establishmentRecords">
        <ion-list-header lines="none">
          <ion-button>Id del Documento: {{ item.documentId }}</ion-button>
          <ion-label>Timestamp: {{ item.timestamp  }}</ion-label>
        </ion-list-header>
        <ion-item lines="none" >
          <ion-label color="primary">
            <ion-text>Transaction Hash : {{ item.transactionHash }}</ion-text>
          </ion-label>
          <ion-button expand="block">GasUsed: {{ item.gasUsed  }}</ion-button>
        </ion-item>
        <ion-item lines="inset">
          <ion-label color="primary">
            <ion-text>Hash del Contenido : {{ item.documentHash }}</ion-text>
          </ion-label>
          <ion-button expand="block" (click)="openModal(item.documentHash, item.timestamp,item.documentId )">Validate</ion-button>
        </ion-item>
        
      </ion-list>
   
    </ion-card-content>
  </ion-card>


</ion-content>
